<!DOCTYPE html>
<meta charset="utf-8">
<html>
  <head>
    <style type="text/css">
      body {
      font-family: Verdana, Arial, sans-serif;
      }
    </style>
  </head>
  <body>
    
    <div style="width:600px; margin:0 auto;">
    <h3>About the Social Network Navigator</h3> 

    <p>The Social Network Navigator lets you view your Facebook friends and
    the connections between them. 

    <p>By using a network layout algorithm that
    tries to bring together connected nodes while keeping unconnected ones
    apart, you get a visualization of your social network that typically 
    identifies "clusters", i.e. the bigger social groups that your friends
    can be grouped into, and the connections between them.

    <p>While there are several apps which create similar
      visualizations, the main feature about this app is that it runs
      completely in your browser. This means that 
      <ul>
	<li>your friendship data is only sent to your browser, not to a remote server, and</li>
	<li>you can interact with the network, e.g. hover over nodes to see who they are,
	  and click on them to visit their profile right from the app.</li>
      </ul>
    </p>

    <p>You are experiencing a <b>very early version</b> of the Social
    Network Navigator.  It has been tested on a very limited number of
    networks (as of this writing, exactly one) and I have no idea if
    it will scale to work on other networks. I'd be happy for you to
    report any problems you encounter, or even if you don't, to get a
    screenshot of what it renders for you!

    <h3>Privacy</h3>
    <ul>
      <li>We do not store any information about you on our servers. </li>
      <li>In fact, we do not receive any information about you on our
	servers. All our servers do is provide some HTML and JavaScript
	that runs in your browser and pulls the data from Facebook onto
	your machine, where it is rendered.</li>
      <li>The only data that <i>is</i> stored when you use this app is
	whatever information Facebook stores (that you use it,
	when you use it, ...), some of which may be passed on to us
	for tracking app usage.
      <li>The Social Network Navigator runs on standard Facebook
	permissions because it doesn't do anything beyond pulling
	friendship information; it will ask for the optional
	permission to post to your stream so in the future, you will
	be able clicl a button and post on your stream that you're
	using the app. It will never post to your stream unless you
	explicitly tell it to!
	</ul>

    <h3>Contact</h3> 
    
    For any questions, feedback, etc, write
    to <a href="mailto:socialnetworknavigator@gmail.com">socialnetworknavigator@gmail.com</a>.
    
	
      
    
  </body>
</html>
