<!DOCTYPE html>
<meta charset="utf-8">
<html>
  <head>
    <script src="static/d3.v3.min.js"></script>
    <script src="static/jquery-1.7.1.min.js" ></script>
    <script src="static/stuff.js" ></script>
    <style type="text/css">
      .node {
      stroke: #fff;
      stroke-width: 1.5px;
      }
      .link {
      stroke: #999;
      stroke-opacity: .6;
      }
    </style>
  </head>
  <body>
    <div id="fb-root"></div>
    <div id="main">
      <div id="loading" style="width:100%">
	<center>
	  <span id="loading_text"/>
	</center>
      </div>
    </div>
  </body>
</html>
