<!DOCTYPE html>
<meta charset="utf-8">
<html>
  <head>
    <script src="static/d3.v3.min.js"></script>
    <script src="static/jquery-1.7.1.min.js" ></script>
    <script src="static/stuff.js" ></script>
    <script src="static/base64.js"></script>
    <script src="static/canvas2image.js"></script>
    <style type="text/css">
      body {
      font-family: Verdana, Arial, sans-serif;
      }

      .node {
      stroke: #fff;
      stroke-width: 1.5px;
      }
      .link {
      stroke: #999;
      stroke-opacity: .6;
      }
    </style>
  </head>
  <body>
    <div id="fb-root"></div>
    <div id="main">
      <div id="loading" style="width:100%">
	<center>
	  <span id="loading_text"/>
	</center>
      </div>
      <svg id="svg">
      </svg>
      <canvas id="myCanvas" width="800px" height="800px">
      </canvas>
    </div>
  </body>
</html>
